$gutter: 20px;

.dashboard-layout {
    --grid-cols: 12;
    @extend .grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    column-gap: $gutter;
    justify-content: center;

    .item {
        grid-column: 1/7;
    }
}