.modal-background {
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  width: 100%;

  .modal-container{
    position: absolute;
    width: 50%;
    height: 75vh;
    background-color: white;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    border-radius: 20px;
  }
}
